@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: "EB Garamond";
    src: url("EBGaramond-Medium.ttf");
}
@font-face {
    font-weight: 400;
    font-style: italic;
    font-family: "EB Garamond";
    src: url("EBGaramond-MediumItalic.ttf");
}
@font-face {
    font-weight: 600;
    font-style: normal;
    font-family: "EB Garamond";
    src: url("EBGaramond-SemiBold.ttf");
}
@font-face {
    font-weight: 600;
    font-style: italic;
    font-family: "EB Garamond";
    src: url("EBGaramond-SemiBoldItalic.ttf");
}
@font-face {
    font-weight: 700;
    font-style: normal;
    font-family: "EB Garamond";
    src: url("EBGaramond-Bold.ttf");
}
@font-face {
    font-weight: 700;
    font-style: italic;
    font-family: "EB Garamond";
    src: url("EBGaramond-BoldItalic.ttf");
}

@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: "方正新书宋";
    src: url("方正新书宋_GBK_完整_v1.10.OTF");
}
@font-face {
    font-weight: 600;
    font-style: normal;
    font-family: "方正小标宋";
    src: url("方正小标宋_GBK_完整_v5.30.OTF");
}
@font-face {
    font-weight: 700;
    font-style: normal;
    font-family: "方正大标宋";
    src: url("方正大标宋_GBK_部分_v5.30.OTF");
}

@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: "思源宋体";
    src: url("SourceHanSerifSC-Medium.otf");
}
@font-face {
    font-weight: 600;
    font-style: normal;
    font-family: "思源宋体";
    src: url("SourceHanSerifSC-Bold.otf");
}
@font-face {
    font-weight: 700;
    font-style: normal;
    font-family: "思源宋体";
    src: url("SourceHanSerifSC-Heavy.otf");
}

h1, h2 {
    font-family: "EB Garamond", "方正大标宋", "思源宋体", serif;
    font-weight: 700;
}
h3, h4, h5, h6 {
    font-family: "EB Garamond", "方正小标宋", "思源宋体", serif;
    font-weight: 600;
}

body {
    font-family: "EB Garamond", "方正新书宋", "思源宋体", serif;
}
p {
    font-family: "EB Garamond", "方正新书宋", "思源宋体", serif;
}
